@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: Pixelbit;
  src: url("../src/fonts/8bit/Nineteend2b5.woff");
}

.monst {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jost {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ancs {
  font-size: 16px;
  line-height: 15px;
  font-family: "Ancizar Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

boody {
  overflow: hidden;
}

#root {
  width: 100%;
}

:root {
  overflow-x: hidden;
  font-family: Pixelbit, system-ui, sans-serif;
  font-weight: 400;
  --black-400: #333333;
  --black-500: #242424;
  --gray-500: #5a5a5a;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
div,
span,
a,
input {
  margin: 0;
  padding: 0;
}

input {
  border: 1px solid white;
  outline: none;
  color: white;
}

a:hover {
  cursor: pointer;
}

body {
  width: 100%;
  letter-spacing: 0px;
  font-size: 10px;
  color: white;
  background-color: var(--black-500);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

aside.EmojiPickerReact {
  position: absolute;
  bottom: 35px;
  right: -60px;
  background-color: var(--black-400);
  --epr-hover-bg-color:  var(--black-500);
  --epr-focus-bg-color : var(--black-500);
  --epr-category-label-bg-color: var(--black-500);
  --epr-search-input-bg-color: var(--black-500);
  @media screen and (max-width: 450px) {
      right: -115px;
  }

}

@media screen and (max-width:400px) {
  body {
    font-size: 8px;
  }
}